body {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

.album-friend {
    display: grid;
    grid-template-columns: repeat(auto-fill, 333px);
    margin: 140px;
    place-content: center;
    gap: 24px;
}

.photo > img {
    width: 333px;
    height: 333px;
    border-radius: 22px;
    object-fit: cover;
}

h1 {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 1rem;
    font-style: normal;
}