.inactive {
    display: none;
}

.ham{
    display: block;
    width: 50px;
    text-align: left;
    }
    .mobile-menu{
        position: absolute;
        padding-top: 114px;
        padding-left: 80px;
        background-color: white;
        z-index: -1;
      }
      .mobile-menu a {
        text-decoration: none;
        color: var(--black);
        font-weight: bold;
        font-family: Arial;
        /* margin-bottom: 24px; */
      }
      .mobile-menu ul {
        padding: 0;
        margin: 24px 0 0;
        list-style: none;
      }    
