body {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

.album-friend {
    display: grid;
    grid-template-columns: repeat(auto-fill, 333px);
    margin: 240px;
    place-content: center;
    gap: 24px;
}

.photo > img {
    width: 333px;
    height: 333px;
    border-radius: 22px;
    object-fit: cover;
}