.screen-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 390px);
  gap: 91px;
  place-content: center;
  margin-top: 200px;
}

.screen-card:hover {
  opacity: 0.5;
}
.screen-card img {
  width: 390px;
  object-fit: cover;
  border: 1px solid #999;
  padding: 12px;
  border-radius: 10px;
}
.screen-info {
  display: flex;
  height: 21px;
  justify-content: right;
}

p {
  margin-top: 20px;
  font-size: 15px;
}
footer {
  box-sizing: border-box;
  margin: 0;
  display: flex;
}
.frame-logo {
  width: 100%;
  margin-top: 80px;
  height: 330px;
  object-position: 0px 18%;
  object-fit: cover;
  opacity: 0.8;
}
.centered {
  left: 41%;
  top: 119%;
  font-family: "Voltaire", sans-serif;
  font-size: 40px;
  padding: 15px;
  line-height: 2rem;
  border-radius: 10px;
  text-align: center;
}
h1 {
  color: black;
  font-size: 17px;
  margin: 0px 17px 0px 15px;
}
/*Responsive  Design*/

.email {
  font-size: var(--sm);
  font-weight: 300 !important;
}
.sign-out {
  font-size: var(--sm);
  color: var(--hospital-green) !important;
}


