@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;1,100&family=Lilita+One&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
  letter-spacing: 0.5px;
}
header {
  width: 100%;
  height: 155px;
  display: grid;
  margin: 10px;
}
main {
  display: grid;
  margin: 0px 0px 0px 40px;
}
.gamma {
  display: flex;
}
a {
  text-decoration: none;
  cursor: pointer;
}
nav.encircled-part {
  display: grid;
  grid-template-columns: 4fr 1fr 3fr;
  grid-template-areas: "one . two";
  margin: 30px 0px 30px 0px;
}

.tag-margin {
  margin: 0px 30px 0px 30px;
  font-size: 13px;
}
.one {
  display: flex;
  gap: 11px;
  grid-area: one;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.two {
  display: flex;
  gap: 11px;
  margin: 0;
  padding: 0;
  grid-area: two;
  list-style: none;
  justify-content: center;
  align-items: center;
}

/*gallerie show*/
.album {
  display: grid;
  height: 300px;
  margin: 55px 0px 20px 0px;
  justify-content: space-evenly;
  height: 21px;
}

.frame-one {
  height: 250px;
  padding: 12px;
  border: 1px solid #999;
  border-radius: 10px;
}

.developer-picture {
  width: 42px;
  height: 42px;
}
.last-one {
  width: auto;
  height: 400px;
  overflow: hidden;
  object-fit: fill;
}
