@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;1,100&family=Lilita+One&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  font-size: 19px;
  font-family: "Alegreya Sans", sans-serif;
  letter-spacing: 0.5px;
}
header {
  width: 100%;
  height: 120px;
  display: grid;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* nav menu*/
nav.encircled-part {
  display: grid;
  grid-template-columns: 4fr 1fr 3fr;
  grid-template-areas: "one . two";
  margin: 30px 0px 30px 0px;
}
main {
  display: flex;
  flex-direction: column;
}
.one {
  display: flex;
  gap: 11px;
  grid-area: one;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.two {
  display: flex;
  gap: 11px;
  margin: 0;
  padding: 0;
  grid-area: two;
  list-style: none;
  justify-content: center;
  align-items: center;
}

/*gallerie show*/
.album {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left rigth";
  margin-left: 168px;
  gap: 67px;
}

.album-closed::before {
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
}

.photo > img {
  width: 383px;
  height: 250px;
  border-radius: 6px;
  object-fit: cover;
  border: 14px solid #999;
}

img.frame-one {
  height: 222px;
  overflow: hidden;
  background: grey;
  padding: 12px;
  border: 1px solid #999;
  border-radius: 10px;
  margin: 0px;
}

.developer-picture {
  width: 42px;
  height: 42px;
}
